{{define "main"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {{ template "emailStyles" . }}
  </head>
  <body>
    <div class="container">
      <h2>You're Invited to join {{ .appName }}: {{ .boardName }}</h2>
      <p>You have been invited to join the board <strong>{{ .boardName }}</strong>.</p>
      <p>Please register to accept the invite by clicking the link below:</p>
      <p>
        <a href="{{ .appUrl }}" class="btn">Accept Invite</a>
      </p>
      <p class="small-text">If you were not expecting this invitation, please ignore this email.</p>
    </div>
  </body>
</html>
{{end}}
